@model IEnumerable<LvhK22CNT3Lesson11_2210900024.Models.LvhProduct>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Lvh2210900024Layout.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LvhId2210900024)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LvhProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LvhQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LvhPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LvhActive)
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LvhCategory.LvhCateName)
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LvhId2210900024)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LvhProName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LvhQty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LvhPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LvhActive)
        @if (item.LvhActive == true)
        {
            <span style="color:green">Hoạt động</span>
        }
        else
        {
            <span style="color:Red">Không hoạt động</span>
        }

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LvhCategory.LvhCateName)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.LvhId2210900024 }) |
        @Html.ActionLink("Details", "Details", new { id = item.LvhId2210900024 }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.LvhId2210900024 })
    </td>
</tr>
}

</table>
