@model LeVanHoang2210900024_Demo_OnTap.Models.LVH_SACH

@{
    ViewBag.Title = "LvhDetails";
    Layout = "~/Views/Shared/_LvhLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LVH_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Lvh_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvh_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvh_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvh_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvh_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvh_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvh_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lvh_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LVH_TACGIA.Lvh_TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LVH_TACGIA.Lvh_TenTacGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Lvh:Edit", "LvhEdit", new { id = Model.Lvh_MaSach }) |
    
        @Html.ActionLink("Back to List", "LvhIndex", null, new { @class = "btn btn-primary" })
    
</p>
